@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-popup-close-button {
  font-size: 34px !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  text-align: center !important;
  margin-right: 12px;
}

.leaflet-popup-content-wrapper {
  max-height: 72vh; 
  overflow-y: auto; 
  overflow-x: hidden; 
  padding-top: 20px;  
  padding-bottom: 10px;
  max-width: 80vw; 
}

.leaflet-popup-content-wrapper::-webkit-scrollbar {
  width: 5px; 
}

.leaflet-popup-content-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.leaflet-popup-content-wrapper::-webkit-scrollbar-thumb {
  background: #888; 
}

.leaflet-popup-content-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media (min-width: 640px) {
  .leaflet-popup-content-wrapper {
    max-width: 40vw; 
  }
}

@media (min-width: 1024px) {
  .leaflet-popup-content-wrapper {
    max-width: 30vw; 
  }
}
